# === Java ===
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log
# === lib以下のjarファイルはコミット対象 === 
!lib/*.jar
# === Java: IDEやツール系 ===
*.ctxt               # BlueJ
*.iml                # IntelliJ
*.classpath
*.project
*.settings/
*.idea/
*.vscode/

# === JUnitなどの一時ファイル ===
test-output/
test-results/

# === 実行用出力ディレクトリ ===
out/

# === DevContainerやDocker系 ===
.devcontainer/.cache/
.vscode-server/
.vscode-test/
**/.DS_Store
**/Thumbs.db

# === OS・エディタ一時ファイル ===
*.swp
*.swo
*~
.~lock.*
ehthumbs.db
.DS_Store
Icon?
._*
